[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.template.NoteApp
Exec=/usr/bin/ru.template.NoteApp
Name=Notes
Name[ru]=Заметки

[X-Application]
Permissions=
OrganizationName=ru.template
ApplicationName=NoteApp
ExecDBus=/usr/bin/ru.template.NoteApp
